@charset "utf-8";

@font-face {
  font-family: "NexaDemo-Bold";
  src: url("../fonts/Nexa/Nexa/Nexa_V2_2020/WEB/NexaDemo-Bold.eot");
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
  box-sizing: border-box;
}

body {
  background: url("../assets/novofundo.png");
  font-family: "NexaDemo-Bold", sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font: 400 14px, "sans-serif";
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #fff;
}
.navbar-item {
  margin-left: 50px;
  text-decoration: none;
  padding-left: 50px;
  text-decoration: none;
  color: #ffff;
  &:hover {
    text-decoration: none;
    color: #060303;
  }
  .button {
    width: 111px;
    height: 35px;
    background: rgba(228, 202, 127, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    &:hover {
      color: #fff;
    }
  }
}
.content {
  display: flex;
}
.navbar-brand {
  img {
    width: 103px;
    height: 47px;
  }
}
.img {
  background-image: url("../assets/DSC_7230S.png");
  background-repeat: no-repeat;
  background-size: 100%;
  .container {
    width: 50%;
    height: 40%;
    transition: 0.4s;
    margin-left: 10%;
    margin-right: 80%;
    &:hover {
      transform: translateY(-8%);
    }
    h1 {
      font-style: italic;
      font-size: 40px;
      font-weight: bold;
      color: #15110e;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      width: 50%;
      margin-bottom: 10px;
    }
    button {
      font-weight: 500;
      font-size: 16px;
      background: transparent linear-gradient(270deg, #e4ca7f 0%, #d5bc77 100%);
      box-shadow: 0px 3px 3px #00000021;
      border-radius: 4px;
      transition: 0.4s;
      &:hover {
        transform: translateY(-8%);
        color: #fff;
      }
      &:hover::after {
        color: #ffff;
      }
    }
  }
}
.descriptionButton {
  margin-top: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 217px;
  height: 40px;
  color: #15110e;
  box-shadow: 0px 3px 3px #00000021;
  border-radius: 4px;
}
.funcional {
  background: url("../assets/novofundo.png") no-repeat padding-box;
  .funcionalTitle {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .columns {
    margin-top: 3%;
    div {
      width: 30%;
      border-radius: 10px;
      margin: 10px 0 0 10px;
      transition: 0.3s;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2%;

      h2 {
        font-weight: bold;
        font-size: 29px;
        text-align: center;
        letter-spacing: 0px;
        color: #060303;
      }

      p {
        font-size: 22px;
        text-align: center;
        letter-spacing: 0px;
        color: #060303;
      }
      &:hover {
        transform: translateY(-8%);
      }
    }
  }
  .planos {
    margin-bottom: 2%;
    display: flex;
    transition: 0.4s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
      color: #15110e;
    }
    button {
      font-weight: 500;

      font-size: 16px;
      margin-top: 10px;
      background: transparent
        linear-gradient(270deg, #e4ca7f 0%, #dbc27a 88%, #d5bc77 100%) 0% 0%
        no-repeat padding-box;
      box-shadow: 0px 3px 3px #00000021;
      border-radius: 4px;
      &:hover {
        color: #fff;
      }
    }
    &:hover {
      transform: translateY(-5%);
    }
  }
}

.img2 {
  display: flex;
  align-items: stretch;
  background-color: #d6bd73;
  background-size: cover;
  .hero-body {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      h2 {
        font-style: italic;
        font-size: 50px;
        color: #060303;
      }
      p {
        width: 80%;
        font-size: 20px;
        color: #060303;
      }
      button {
        font-weight: 500;
        font-size: 15px;
        transition: 0.4s;
        &:hover {
          transform: translateY(-5%);
          font-weight: 500;
        }
      }
    }
    img {
      margin-left: 10%;
      width: 40%;
      transition: 0.4s;
      &:hover {
        transform: translateY(-8%);
      }
    }
  }
}
.accordions {
  background-image: linear-gradient(#31271d, #15110e);

  h1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
    margin-right: 3px;
  }

  .container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    margin-top: 4%;
    margin-bottom: 9%;
  }

  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #ffff;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #3d2c1b;
    background-color: #362719;
    border-radius: 5px;
    margin-top: 8px;
    transition: 0.2s;
    text-decoration: none;
  }

  .accordion a:hover {
    color: rgb(211, 173, 134);
    transform: translateY(-5%);
  }
  .accordion a:hover::after {
    cursor: pointer;
    color: rgb(211, 173, 134);
  }

  .accordion a:hover::after {
    transform: translateY(-5%);
    // border: 1px solid rgb(211, 173, 134);
  }

  .accordion a.active {
    transform: translateY(-5%);
    color: rgb(211, 173, 134);
    border-bottom: 1px solid rgb(211, 173, 134);
  }

  .accordion a::after {
    font-family: "Ionicons";
    content: "\f218";
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 13px;
    padding: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  .accordion a.active::after {
    font-family: "Ionicons";
    content: "\f209";
    color: rgb(211, 173, 134);
    //  border: 1px solid rgb(211, 173, 134);
  }

  .accordion .content {
    background-color: #302012;
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }

  .accordion .content p {
    color: rgba(226, 226, 225, 1);
    text-align: center;
    font-size: 17px;
    font-weight: 300;
  }

  .accordion .content.active {
    text-align: center;
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }
}
.img3 {
  display: flex;
  width: 100%;

  background-image: url("../assets/Grupo403.png");
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-style: italic;
      text-align: center;
      font-size: 40px;
      color: #15110e;
      transition: 0.4s;
      font-weight: bold;
      &:hover {
        transform: translateY(-10%);
      }
    }

    button {
      font-weight: 500;
      color: #15110e;
      background: transparent linear-gradient(270deg, #e4ca7f 0%, #d5bc77 100%)
        0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 3px #00000021;
      border-radius: 4px;
      transition: 0.4s;
      &:hover {
        transform: translateY(-5%);
        color: #fff;
      }
    }
  }
}
.contact {
  h3 {
    text-align: left;
    font-size: 14px;
    color: #060303;
  }

  li {
    padding-top: 5px;
    text-align: left;
    font-size: 15px;
    color: #060303;
  }

  display: flex;
  align-items: center;

  .inputEmail {
    flex-direction: column;
    h3 {
      width: 207px;
      height: 18px;
      text-align: left;
      font-size: 15px;
      color: rgba(6, 3, 3, 1);
      margin-bottom: 5px;
    }
    input {
      width: 207px;
      padding: 0 10px;
      height: 37px;
      border: 1px solid rgba(6, 3, 3, 1);
      border-radius: 2px;
    }
  }
  .divButton {
    button {
      bottom: 4px;
      width: 56px;
      height: 40px;
      color: #fff;
      padding: 10px 10px 10px 10px;
      background: rgba(6, 3, 3, 1);
      border-radius: 6px;
    }
  }

  .icons-social {
    display: flex;
    flex-direction: column;
    img {
      width: 30px;
      height: 20px;
    }
    h3 {
      font-weight: bold;
      color: #060303;
      font-weight: 13px;
    }
  }
  .pagamento {
    width: 90%;
  }
}
// MOBILE
@media (max-width: 768px) {
  .img {
    display: flex;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 1)
      ),
      url("../assets/mobile/DSC_7230.png") no-repeat;
    flex-direction: column;
    background-size: 100% 120%;

    .container {
      display: flex;

      flex-direction: column;
      width: 90%;
      margin-top: 27%;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        width: 98%;
        font-size: 14px;
      }
    }
  }
  .funcional {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    .columns {
      margin-top: 3%;
      display: flex;
      flex-direction: column;
      padding-top: 20%;

      div {
        width: 100%;
        height: 100%;

        border-radius: 10px;
        margin: 10px 0 0 10px;
        transition: 0.3s;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2%;
      }
    }
    .planos {
      p {
        font-weight: 500;
        width: 95%;
      }
    }
  }
  .img2 {
    .hero-body {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
      .container {
        align-items: center;
        h2 {
          text-align: center;
          font-size: 30px;
        }
        p {
          text-align: center;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }
    }
  }
  .accordions {
    h1 {
      font-size: 30px;
    }
  }
  .img3 {
    .hero-body {
      background-image: linear-gradient(to right, #b59e5e, #e4ca7f7a 10%),
        url("../assets/mobile/DSC_7199.png");
      background-repeat: no-repeat;
      background-size: 120% 110%;
      background-position: left -20px top 0px;

      // filter: sepia(50%) saturate(170%);
    }
    .container {
      h1 {
        font-size: 30px;
      }
    }
  }
}

@import "../node_modules/bulma/bulma";
